<div>
    <h2 translate="webstoreApp.userAddress.home.title">UserAddresss</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="userAddress.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="webstoreApp.userAddress.home.createLabel">Create new UserAddress
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'webstoreApp.userAddress.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="webstoreApp.userAddress.name">Name</span></th>
                    <th><span translate="webstoreApp.userAddress.streetAddress">StreetAddress</span></th>
                    <th><span translate="webstoreApp.userAddress.landmark">Landmark</span></th>
                    <th><span translate="webstoreApp.userAddress.city">City</span></th>
                    <th><span translate="webstoreApp.userAddress.pin">Pin</span></th>
                    <th><span translate="webstoreApp.userAddress.phone">Phone</span></th>
                    <th><span translate="webstoreApp.userAddress.userProfile">userProfile</span></th>
                    <th><span translate="webstoreApp.userAddress.country">country</span></th>
                    <th><span translate="webstoreApp.userAddress.state">state</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userAddress in userAddresss track by userAddress.id">
                    <td><a ui-sref="userAddress.detail({id:userAddress.id})">{{userAddress.id}}</a></td>
                    <td>{{userAddress.name}}</td>
                    <td>{{userAddress.streetAddress}}</td>
                    <td>{{userAddress.landmark}}</td>
                    <td>{{userAddress.city}}</td>
                    <td>{{userAddress.pin}}</td>
                    <td>{{userAddress.phone}}</td>
                    <td>
                        <a ui-sref="userProfile.detail({id:userAddress.userProfile.id})">{{userAddress.userProfile.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="country.detail({id:userAddress.country.id})">{{userAddress.country.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="state.detail({id:userAddress.state.id})">{{userAddress.state.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="userAddress.detail({id:userAddress.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="userAddress.edit({id:userAddress.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="userAddress.delete({id:userAddress.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
