
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCategoryLabel" translate="webstoreApp.category.home.createOrEditLabel">Create or edit a Category</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="category.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstoreApp.category.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="category.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstoreApp.category.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="category.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstoreApp.category.imageUrl" for="field_imageUrl">ImageUrl</label>
            <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                    ng-model="category.imageUrl"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstoreApp.category.active" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                    ng-model="category.active"
                     />
            <div ng-show="editForm.active.$invalid">
                <p class="help-block"
                    ng-show="editForm.active.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="webstoreApp.category.catalog" for="field_catalog">catalog</label>
            <select class="form-control" id="field_catalog" name="catalog" ng-model="category.catalog" ng-options="catalog as catalog.id for catalog in catalogs track by catalog.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="webstoreApp.category.parent" for="field_parent">parent</label>
            <select class="form-control" id="field_parent" name="parent" ng-model="category.parent" ng-options="category as category.id for category in categorys track by category.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
