<div>
    <h2 translate="webstoreApp.catalog.home.title">Catalogs</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="catalog.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="webstoreApp.catalog.home.createLabel">Create new Catalog
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'webstoreApp.catalog.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="webstoreApp.catalog.name">Name</span></th>
                    <th><span translate="webstoreApp.catalog.description">Description</span></th>
                    <th><span translate="webstoreApp.catalog.active">Active</span></th>
                    <th><span translate="webstoreApp.catalog.country">country</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="catalog in catalogs track by catalog.id">
                    <td><a ui-sref="catalog.detail({id:catalog.id})">{{catalog.id}}</a></td>
                    <td>{{catalog.name}}</td>
                    <td>{{catalog.description}}</td>
                    <td>{{catalog.active}}</td>
                    <td>
                        <a ui-sref="country.detail({id:catalog.country.id})">{{catalog.country.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="catalog.detail({id:catalog.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="catalog.edit({id:catalog.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="catalog.delete({id:catalog.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
