
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myShipmentLabel" translate="webstoreApp.shipment.home.createOrEditLabel">Create or edit a Shipment</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="shipment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstoreApp.shipment.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="shipment.type" id="field_type" required>
                <option value="EXPRESS" translate="webstoreApp.ShipmentType.EXPRESS">EXPRESS</option>
                <option value="NORMAL" translate="webstoreApp.ShipmentType.NORMAL">NORMAL</option>
            </select>
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstoreApp.shipment.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="shipment.status" id="field_status" required>
                <option value="AVAILABLE" translate="webstoreApp.Status.AVAILABLE">AVAILABLE</option>
                <option value="IN_STOCK" translate="webstoreApp.Status.IN_STOCK">IN_STOCK</option>
                <option value="OUT_OF_STOCK" translate="webstoreApp.Status.OUT_OF_STOCK">OUT_OF_STOCK</option>
                <option value="IN_PROCESS" translate="webstoreApp.Status.IN_PROCESS">IN_PROCESS</option>
                <option value="CONFIRMED" translate="webstoreApp.Status.CONFIRMED">CONFIRMED</option>
                <option value="PACKED" translate="webstoreApp.Status.PACKED">PACKED</option>
                <option value="SHIPPED" translate="webstoreApp.Status.SHIPPED">SHIPPED</option>
                <option value="COMPLETE" translate="webstoreApp.Status.COMPLETE">COMPLETE</option>
                <option value="RETURNED" translate="webstoreApp.Status.RETURNED">RETURNED</option>
                <option value="REPLACED" translate="webstoreApp.Status.REPLACED">REPLACED</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="webstoreApp.shipment.address" for="field_address">address</label>
            <select class="form-control" id="field_address" name="address" ng-model="shipment.address" ng-options="userAddress as userAddress.id for userAddress in addresss | orderBy:'id' track by userAddress.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
