<div>
    <h2 translate="webstoreApp.userProfile.home.title">UserProfiles</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="userProfile.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="webstoreApp.userProfile.home.createLabel">Create new UserProfile
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'webstoreApp.userProfile.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="webstoreApp.userProfile.email">Email</span></th>
                    <th><span translate="webstoreApp.userProfile.fname">Fname</span></th>
                    <th><span translate="webstoreApp.userProfile.lname">Lname</span></th>
                    <th><span translate="webstoreApp.userProfile.imageUrl">ImageUrl</span></th>
                    <th><span translate="webstoreApp.userProfile.gender">Gender</span></th>
                    <th><span translate="webstoreApp.userProfile.dob">Dob</span></th>
                    <th><span translate="webstoreApp.userProfile.authentication">authentication</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userProfile in userProfiles track by userProfile.id">
                    <td><a ui-sref="userProfile.detail({id:userProfile.id})">{{userProfile.id}}</a></td>
                    <td>{{userProfile.email}}</td>
                    <td>{{userProfile.fname}}</td>
                    <td>{{userProfile.lname}}</td>
                    <td>{{userProfile.imageUrl}}</td>
                    <td translate="{{'webstoreApp.Gender.' + userProfile.gender}}">{{userProfile.gender}}</td>
                        <td>{{userProfile.dob | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="userLogin.detail({id:userProfile.authentication.id})">{{userProfile.authentication.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="userProfile.detail({id:userProfile.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="userProfile.edit({id:userProfile.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="userProfile.delete({id:userProfile.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
